@{
    ViewData["Title"] = "Download App";
    Layout = "~/Views/Shared/_LayoutDaven.cshtml";
}

<div class="comming-soon-area fullscreen bg_image bg_image--16 d-flex align-items-center">
    <div class="row plr--90 plr_sm--30 plr_md--30" style="width: 100%;">
        <div class="col-lg-7">
            <div class="comming-content text-left pt_sm--60">
                <h3 class="fontWeight400">Больше возможностей в персональном кабинете.</h3>
                <h3 class="fontWeight400">Только в приложении.</h3>
                <hr />
                <h3 class="fontWeight400">
                    <a href="#" class="mr--20">
                        <img src="~/images/google_play.png" style="height:45px;" />
                    </a>
                    <a>
                        <img src="~/images/appstore.png" style="height:45px;" />
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>

<style>
    .bg_image--16 {
        background-image: url(/images/downloadApp_page_background.png);
    }
</style>