@{
    Layout = "_LayoutDaven";
}


<!-- Start Search Flyover -->
<div class="search-flyoveray"></div>
<div class="cart-flyout">
    <div class="cart-flyout-inner">
        <a class="btn-close-cart" href="#">
            <i class="dlicon ui-1_simple-remove"></i>
        </a>
        <div class="cart-flyout__content">
            <div class="cart-flyout__heading">Shopping Cart</div>
            <div class="widget_shopping_cart_content">
                <ul class="product_list_widget">
                    <li>
                        <div class="thumb">
                            <img src="~/lib/DavenTheme/img/product/sm-img/product-1.jpg" alt="product">
                        </div>
                        <div class="content">
                            <h6><a href="single-product.html">Boys light blue jacket</a></h6>
                            <div class="quntity">1 × $35.99</div>
                            <button class="remove-btn">×</button>
                        </div>
                    </li>

                    <li>
                        <div class="thumb">
                            <img src="~/lib/DavenTheme/img/product/sm-img/product-2.jpg" alt="product">
                        </div>
                        <div class="content">
                            <h6><a href="single-product.html">Boys light blue jacket</a></h6>
                            <div class="quntity">1 × $35.99</div>
                            <button class="remove-btn">×</button>
                        </div>
                    </li>

                    <li>
                        <div class="thumb">
                            <img src="~/lib/DavenTheme/img/product/sm-img/product-3.jpg" alt="product">
                        </div>
                        <div class="content">
                            <h6><a href="single-product.html">Boys light blue jacket</a></h6>
                            <div class="quntity">1 × $35.99</div>
                            <button class="remove-btn">×</button>
                        </div>
                    </li>

                </ul>
            </div>
            <p class="minicart__total">Subtotal: <span class="price">164.97</span></p>
            <div class="cart__btn">
                <a href="cart.html">View cart</a>
                <a href="cart.html">Checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- End Search Flyover -->
<!-- Start Search FlyOver Area -->
<div class="search-flyoverlay-area">
    <div class="btn-close-search">
        <i class="dlicon ui-1_simple-remove"></i>
    </div>
    <div class="searchform-fly">
        <p class="searchform-fly-text">Start typing and press Enter to search !</p>
        <form class="search-form" action="#">
            <input type="text" placeholder="Search">
            <button class="search-button" type="submit">
                <i class="dlicon ui-1_zoom"></i>
            </button>
        </form>
    </div>
</div>
<!-- End Search FlyOver Area -->
<!-- Start Popup Flyover -->
<div class="popup-fly-over-wrapper">
    <div class="close-button">
        <button class="close_btn"><i class="dlicon ui-1_simple-remove"></i></button>
    </div>
    <!-- Start Popup Menu Wrapper -->
    <div class="popup-menu">
        <div class="row justify-content-between">

            <div class="col-lg-2">
                <ul class="mainmenu">
                    <li class="title">Home</li>

                    <li class="drdropdown">
                        <a href="#">Demo Group 1</a>
                        <ul class="drlabel2">
                            <li><a href="01-creative-agency.html">Home 01</a></li>
                            <li><a href="02-creative-agency.html">Home 02</a></li>
                            <li><a href="03-technology.html">Home 03</a></li>
                            <li><a href="04-business.html">Home 04</a></li>
                            <li><a href="05-portfolio-sidebar.html">Home 05</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Demo Group 2</a>
                        <ul class="drlabel2">
                            <li><a href="06-portfolio-grid.html">Home 06</a></li>
                            <li><a href="07-portfolio-mini-sidebar.html">Home 07</a></li>
                            <li><a href="08-portfolio-showcase.html">Home 08</a></li>
                            <li><a href="09-portfolio-portrait.html">Home 09</a></li>
                            <li><a href="10-portfolio-masonry.html">Home 10</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Demo Group 3</a>
                        <ul class="drlabel2">
                            <li><a href="11-digital-agency.html">Home 11</a></li>
                            <li><a href="12-corporate.html">Home 12</a></li>
                            <li><a href="13-portfolio-vertical-slider.html">Home 13</a></li>
                            <li><a href="14-portfolio-split-slider.html">Home 14</a></li>
                            <li><a href="15-portfolio-horizontal-slider.html">Home 15</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Demo Group 4</a>
                        <ul class="drlabel2">
                            <li><a href="16-studio01.html">Home 16</a></li>
                            <li><a href="17-freelancer.html">Home 17</a></li>
                            <li><a href="18-studio02.html">Home 18</a></li>
                            <li><a href="19-v-card.html">Home 19</a></li>
                            <li><a href="20-shop.html">Home 20</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Demo Group 5</a>
                        <ul class="drlabel2">
                            <li><a href="21-mobile-app-one-page.html">Home 21</a></li>
                            <li><a href="22-photography01.html">Home 22</a></li>
                            <li><a href="23-photography02.html">Home 23</a></li>
                            <li><a href="24-photography03.html">Home 24</a></li>
                            <li><a href="25-photography04.html">Home 25</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Demo Group 6</a>
                        <ul class="drlabel2">
                            <li><a href="26-spa.html">Home 26</a></li>
                            <li><a href="27-construction.html">Home 27</a></li>
                            <li><a href="28-fresh-agency.html">Home 28</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2">
                <ul class="mainmenu">
                    <li class="title">Pages</li>

                    <li class="drdropdown">
                        <a href="#">About Us</a>
                        <ul class="drlabel2">
                            <li><a href="about-us-01.html">About 01</a></li>
                            <li><a href="about-us-02.html">About 02</a></li>
                            <li><a href="about-us-03.html">About 03</a></li>
                            <li><a href="about-us-04.html">About 04</a></li>
                            <li><a href="about-me.html">About Me</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Our Services</a>
                        <ul class="drlabel2">
                            <li><a href="service-classic.html">Service Classic</a></li>
                            <li><a href="service-modern.html">Service Modern</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Our Team</a>
                        <ul class="drlabel2">
                            <li><a href="team.html">Team</a></li>
                            <li><a href="team-02.html">Team 02</a></li>
                            <li><a href="team-03.html">Team 03</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Contact Us</a>
                        <ul class="drlabel2">
                            <li><a href="contact-us-01.html">Contact 01</a></li>
                            <li><a href="contact-us-02.html">Contact 02</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Another Pages</a>
                        <ul class="drlabel2">
                            <li><a href="faqs.html">Faqs</a></li>
                            <li><a href="career.html">Career</a></li>
                            <li><a href="comming-soon-01.html">Comming Soon 01</a></li>
                            <li><a href="comming-soon-02.html">Comming Soon 02</a></li>
                            <li><a href="404.html">Page 404</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="col-lg-2">
                <ul class="mainmenu">
                    <li class="title">Portfolio</li>
                    <li class="drdropdown">
                        <a href="#">Portfolio Layout</a>
                        <ul class="drlabel2">
                            <li><a href="portfolio-fullwidth.html">Portfolio fullwidth</a></li>
                            <li><a href="portfolio-fullwidth-no-gutter.html">Portfolio fullwidth no gutter</a></li>
                            <li>
                                <a href="portfolio-fullwidth-with-caption.html">Portfolio fullwidth with caption</a>
                            </li>
                            <li><a href="portfolio-metro.html">Portfolio metro</a></li>
                            <li><a href="portfolio-metro-gutter.html">Portfolio metro gutter</a></li>
                            <li><a href="portfolio-scattered.html">Portfolio scattered</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Portfolio Layout 02</a>
                        <ul class="drlabel2">
                            <li><a href="portfolio-column-01.html">Portfolio column 01</a></li>
                            <li><a href="portfolio-column-02.html">Portfolio column 02</a></li>
                            <li><a href="portfolio-column-03.html">Portfolio column 03</a></li>
                            <li><a href="portfolio-hover.html">Portfolio hover</a></li>
                        </ul>
                    </li>

                    <li class="drdropdown">
                        <a href="#">Single Project</a>
                        <ul class="drlabel2">
                            <li><a href="portfolio-single-left-image.html">Left image</a></li>
                            <li><a href="portfolio-single-right-image.html">Right image</a></li>
                            <li><a href="portfolio-single-with-slider.html">With slider</a></li>
                            <li><a href="portfolio-single-custom-layout-01.html">Custom layout 01</a></li>
                            <li><a href="portfolio-single-custom-layout-02.html">Custom layout 02</a></li>
                            <li><a href="portfolio-single-custom-layout-03.html">Custom layout 03</a></li>
                            <li><a href="portfolio-single-custom-layout-04.html">Custom layout 04</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

            <div class="col-lg-2">
                <ul class="mainmenu">
                    <li class="title">Blog</li>
                    <li class="drdropdown">
                        <a href="#">Blog Layout</a>
                        <ul class="drlabel2">
                            <li><a href="blog-left-sidebar-01.html">Blog sidebar 01</a></li>
                            <li><a href="blog-left-sidebar-02.html">Blog sidebar 02</a></li>
                            <li><a href="blog-sidebar-small-images.html">Sidebar small images</a></li>
                            <li><a href="blog-grid-layout.html">Grid layout</a></li>
                            <li><a href="blog-no-sidebar.html">No sidebar</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Blog Layout 02</a>
                        <ul class="drlabel2">
                            <li><a href="blog-grid-custom-01.html">Layout Custom 01</a></li>
                            <li><a href="blog-grid-custom-02.html">Layout Custom 02</a></li>
                            <li><a href="blog-grid-custom-03.html">Layout Custom 03</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Single Post</a>
                        <ul class="drlabel2">
                            <li><a href="single-post-01.html">Single Post 01</a></li>
                            <li><a href="single-post-02.html">Single Post 02</a></li>
                            <li><a href="single-post-03.html">Single Post 03</a></li>
                            <li><a href="blog-details.html">Single Post 04</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2">
                <ul class="mainmenu">
                    <li class="title">Elements</li>
                    <li class="drdropdown">
                        <a href="#">Core HTML</a>
                        <ul class="drlabel2">
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="heading.html">Heading</a></li>
                            <li><a href="list-style.html">List Styles</a></li>
                            <li><a href="button.html">Button</a></li>
                            <li><a href="contact-form.html">Contact Forms</a></li>
                            <li><a href="icon-box.html">Icon Box</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Interactive</a>
                        <ul class="drlabel2">
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="testimonial.html">Testimonials</a></li>
                            <li><a href="team.html">Team Member</a></li>
                            <li><a href="blog-element.html">Blog Element</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Interactive</a>
                        <ul class="drlabel2">
                            <li><a href="toggles.html">Toggles</a></li>
                            <li><a href="tabs.html">Tabs & Tour</a></li>
                            <li><a href="counters.html">Counters</a></li>
                            <li><a href="progress-bar.html">Progress Bar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2">
                <ul class="mainmenu">
                    <li class="title">Shop</li>
                    <li class="drdropdown">
                        <a href="#">Shop Pages</a>
                        <ul class="drlabel2">
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="order-tracking.html">Order Tracking</a></li>
                            <li><a href="cart.html">Cart Page</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="compare.html">Compare</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Shop Layout</a>
                        <ul class="drlabel2">
                            <li><a href="shop-fullwidth.html">Shop Layout</a></li>
                            <li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>
                            <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                        </ul>
                    </li>
                    <li class="drdropdown">
                        <a href="#">Product Page</a>
                        <ul class="drlabel2">
                            <li><a href="single-product.html">Single Product 01</a></li>
                            <li><a href="single-product-02.html">Single Product 02</a></li>
                            <li><a href="single-product-03.html">Single Product 03</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!-- End Popup Menu Wrapper -->
    <div class="popup-bottom">
        <div class="logo">
            <a href="index.html">
                <img src="~/lib/DavenTheme/img/logo/logo-white.png" alt="Logo">
            </a>
        </div>
        <div class="address">
            <p class="font--12 text-white">(+55) 254. 254. 254</p>
            <p class="font--12 text-white">Info@la-studioweb.com</p>
            <p class="font--12 text-white">Helios Tower 75 Tam Trinh Hoang Mai - Ha Noi - Viet Nam</p>
        </div>
        <div class="share">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
        </div>
    </div>
</div>
<!-- End Popup Flyover -->
<!-- Start Hamburger -->

<div class="menu-overlay">
    <div class="hamburger-area">
        <div class="btn-close-search">
            <button>
                <i class="dlicon ui-1_simple-remove"></i>
            </button>
        </div>
        <div class="hamburger-menu-main d-none d-xl-block">
            <div class="humberger-top">
                <div class="hum-mainmenu">
                    <ul>
                        <li><a href="about-me.html">About Draven</a></li>
                        <li><a href="contact-us-01.html">Help Center</a></li>
                        <li><a href="portfolio-fullwidth.html">Portfolio</a></li>
                        <li><a href="blog-left-sidebar-01.html">Blog</a></li>
                        <li><a href="team-02.html">New Look</a></li>
                    </ul>
                </div>
            </div>

            <div class="humberger-bottom">
                <div class="humberger-bottom__inner">
                    <div class="thumb">
                        <img src="~/lib/DavenTheme/img/icons/payments2.png" alt="Draven">
                    </div>
                    <div class="content">
                        <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo dapibus.</p>
                        <ul class="hm-address">
                            <li><a href="tel:1233445667"><span>(+55) 254. 254. 254</span></a></li>
                            <li><a href="mailto:yourmailexample@gmail.com"><span>Info@la-studioweb.com</span></a></li>
                            <li><a href="#"><span>Helios Tower 75 Tam Trinh Hoang Mai - Ha Noi - Viet Nam</span></a></li>
                        </ul>
                        <div class="social-icons bg-owncolor">
                            <a class="facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="twitter" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="pinterest" href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                            <a class="youtube" href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="hm-copyright">
                        <p>© 2019 Draven. <a href="https://hasthemes.com/">All Rights Reserved.</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Main Menu -->
        <ul class="menu-primary-menu-1 responsive-manu d-block d-xl-none" id="responsive-manu">
            <li class="has-dropdown">
                <a href="#">Home</a>
                <ul class="sub-menu">
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Demo Group 1</a>
                        <ul class="lavel--3">
                            <li><a href="01-creative-agency.html">Home 01</a></li>
                            <li><a href="02-creative-agency.html">Home 02</a></li>
                            <li><a href="03-technology.html">Home 03</a></li>
                            <li><a href="04-business.html">Home 04</a></li>
                            <li><a href="05-portfolio-sidebar.html">Home 05</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Demo Group 2</a>
                        <ul class="lavel--3">
                            <li><a href="06-portfolio-grid.html">Home 06</a></li>
                            <li><a href="07-portfolio-mini-sidebar.html">Home 07</a></li>
                            <li><a href="08-portfolio-showcase.html">Home 08</a></li>
                            <li><a href="09-portfolio-portrait.html">Home 09</a></li>
                            <li><a href="10-portfolio-masonry.html">Home 10</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Demo Group 3</a>
                        <ul class="lavel--3">
                            <li><a href="11-digital-agency.html">Home 11</a></li>
                            <li><a href="12-corporate.html">Home 12</a></li>
                            <li><a href="13-portfolio-vertical-slider.html">Home 13</a></li>
                            <li><a href="14-portfolio-split-slider.html">Home 14</a></li>
                            <li><a href="15-portfolio-horizontal-slider.html">Home 15</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Demo Group 4</a>
                        <ul class="lavel--3">
                            <li><a href="16-studio01.html">Home 16</a></li>
                            <li><a href="17-freelancer.html">Home 17</a></li>
                            <li><a href="18-studio02.html">Home 18</a></li>
                            <li><a href="19-v-card.html">Home 19</a></li>
                            <li><a href="20-shop.html">Home 20</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Demo Group 5</a>
                        <ul class="lavel--3">
                            <li><a href="21-mobile-app-one-page.html">Home 21</a></li>
                            <li><a href="22-photography01.html">Home 22</a></li>
                            <li><a href="23-photography02.html">Home 23</a></li>
                            <li><a href="24-photography03.html">Home 24</a></li>
                            <li><a href="25-photography04.html">Home 25</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Demo Group 6</a>
                        <ul class="lavel--3">
                            <li><a href="26-spa.html">Home 26</a></li>
                            <li><a href="27-construction.html">Home 27</a></li>
                            <li><a href="28-fresh-agency.html">Home 28</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                    <li class="has-label--3 has-dropdown">
                        <a href="#">About Us</a>
                        <ul class="lavel--3">
                            <li><a href="about-us-01.html">About 01</a></li>
                            <li><a href="about-us-02.html">About 02</a></li>
                            <li><a href="about-us-03.html">About 03</a></li>
                            <li><a href="about-us-04.html">About 04</a></li>
                            <li><a href="about-me.html">About Me</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Our Services</a>
                        <ul class="lavel--3">
                            <li><a href="service-classic.html">Service Classic</a></li>
                            <li><a href="service-modern.html">Service Modern</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Our Team</a>
                        <ul class="lavel--3">
                            <li><a href="team.html">Team</a></li>
                            <li><a href="team-02.html">Team 02</a></li>
                            <li><a href="team-03.html">Team 03</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Contact Us</a>
                        <ul class="lavel--3">
                            <li><a href="contact-us-01.html">Contact 01</a></li>
                            <li><a href="contact-us-02.html">Contact 02</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Another Pages</a>
                        <ul class="lavel--3">
                            <li><a href="faqs.html">Faqs</a></li>
                            <li><a href="career.html">Career</a></li>
                            <li><a href="comming-soon-01.html">Comming Soon 01</a></li>
                            <li><a href="comming-soon-02.html">Comming Soon 02</a></li>
                            <li><a href="404.html">Page 404</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Portfolio</a>
                <ul class="sub-menu">
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Portfolio Layout</a>
                        <ul class="lavel--3">
                            <li><a href="portfolio-fullwidth.html">Portfolio fullwidth</a></li>
                            <li><a href="portfolio-fullwidth-no-gutter.html">Portfolio fullwidth no gutter</a></li>
                            <li><a href="portfolio-fullwidth-with-caption.html">Portfolio fullwidth with caption</a></li>
                            <li><a href="portfolio-metro.html">Portfolio metro</a></li>
                            <li><a href="portfolio-metro-gutter.html">Portfolio metro gutter</a></li>
                            <li><a href="portfolio-scattered.html">Portfolio scattered</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Portfolio Layout 02</a>
                        <ul class="lavel--3">
                            <li><a href="portfolio-column-01.html">Portfolio column 01</a></li>
                            <li><a href="portfolio-column-02.html">Portfolio column 02</a></li>
                            <li><a href="portfolio-column-03.html">Portfolio column 03</a></li>
                            <li><a href="portfolio-hover.html">Portfolio hover</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Single Project</a>
                        <ul class="lavel--3">
                            <li><a href="portfolio-single-left-image.html">Left image</a></li>
                            <li><a href="portfolio-single-right-image.html">Right image</a></li>
                            <li><a href="portfolio-single-with-slider.html">With slider</a></li>
                            <li><a href="portfolio-single-custom-layout-01.html">Custom layout 01</a></li>
                            <li><a href="portfolio-single-custom-layout-02.html">Custom layout 02</a></li>
                            <li><a href="portfolio-single-custom-layout-03.html">Custom layout 03</a></li>
                            <li><a href="portfolio-single-custom-layout-04.html">Custom layout 04</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Blog</a>
                <ul class="sub-menu">
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Blog Layout</a>
                        <ul class="lavel--3">
                            <li><a href="blog-left-sidebar-01.html">Blog sidebar 01</a></li>
                            <li><a href="blog-left-sidebar-02.html">Blog sidebar 02</a></li>
                            <li><a href="blog-sidebar-small-images.html">Sidebar small images</a></li>
                            <li><a href="blog-grid-layout.html">Grid layout</a></li>
                            <li><a href="blog-no-sidebar.html">No sidebar</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Blog Layout 02</a>
                        <ul class="lavel--3">
                            <li><a href="blog-grid-custom-01.html">Layout Custom 01</a></li>
                            <li><a href="blog-grid-custom-02.html">Layout Custom 02</a></li>
                            <li><a href="blog-grid-custom-03.html">Layout Custom 03</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Single Post</a>
                        <ul class="lavel--3">
                            <li><a href="single-post-01.html">Single Post 01</a></li>
                            <li><a href="single-post-02.html">Single Post 02</a></li>
                            <li><a href="single-post-03.html">Single Post 03</a></li>
                            <li><a href="blog-details.html">Single Post 04</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Element</a>
                <ul class="sub-menu">
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Core HTML</a>
                        <ul class="lavel--3">
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="heading.html">Heading</a></li>
                            <li><a href="list-style.html">List Styles</a></li>
                            <li><a href="button.html">Button</a></li>
                            <li><a href="contact-form.html">Contact Forms</a></li>
                            <li><a href="icon-box.html">Icon Box</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Interactive</a>
                        <ul class="lavel--3">
                            <li><a href="pricing-table.html">Pricing Table</a></li>
                            <li><a href="testimonial.html">Testimonials</a></li>
                            <li><a href="team.html">Team Member</a></li>
                            <li><a href="blog-element.html">Blog Element</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Interactive</a>
                        <ul class="lavel--3">
                            <li><a href="toggles.html">Toggles</a></li>
                            <li><a href="tabs.html">Tabs & Tour</a></li>
                            <li><a href="counters.html">Counters</a></li>
                            <li><a href="progress-bar.html">Progress Bar</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="#">Shop</a>
                <ul class="sub-menu">
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Shop Pages</a>
                        <ul class="lavel--3">
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="order-tracking.html">Order Tracking</a></li>
                            <li><a href="cart.html">Cart Page</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="compare.html">Compare</a></li>
                        </ul>
                    </li>

                    <li class="has-label--3 has-dropdown">
                        <a href="#">Shop Layout</a>
                        <ul class="lavel--3">
                            <li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>
                            <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                        </ul>
                    </li>
                    <li class="has-label--3 has-dropdown">
                        <a href="#">Product Page</a>
                        <ul class="lavel--3">
                            <li><a href="single-product.html">Single Product 01</a></li>
                            <li><a href="single-product-02.html">Single Product 02</a></li>
                            <li><a href="single-product-03.html">Single Product 03</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- End Main Menu -->

    </div>
    <!-- End Hamburger -->
</div>

<!-- Start Slider Area -->
<div class="draven-slider-area">
    <div id="rev_slider_23_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="home-01" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.4.7 fullwidth mode -->
        <div id="rev_slider_23_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7">
            <ul>
                <!-- SLIDE  -->
                <li data-index="rs-37" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/lib/DavenTheme/img/revolution-slider/transparent.png" data-bgcolor='#fff8fa' style='background:#fff8fa' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption     rev_group" id="slide-37-layer-2" data-x="['left','left','center','center']" data-hoffset="['100','20','0','-4']" data-y="['middle','middle','top','middle']" data-voffset="['0','0','182','0']" data-width="['745','493','462','405']" data-height="['346','229','233','203']" data-whitespace="normal" data-type="group" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 745px; max-width: 745px; max-width: 346px; max-width: 346px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme" id="slide-37-layer-1" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-fontsize="['74','50','50','40']" data-lineheight="['100','65','60','50']" data-letterspacing="['2','2','0','0']" data-width="['684','488','458','375']" data-height="['215','none','none','111']" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":"+650","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 684px; max-width: 684px; max-width: 215px; max-width: 215px; white-space: normal; font-size: 74px; line-height: 100px; font-weight: 700; color: #2f2f2f; letter-spacing: 2px;font-family:Poppins;">
                            We are Digital Creative Agency
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption rev-btn " id="slide-37-layer-3" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" data-fontsize="['14','12','14','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+1070","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(21,21,21);bs:solid;bw:0 0 0 0;"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[30,20,25,25]" data-paddingright="[55,45,45,45]" data-paddingbottom="[30,20,25,25]" data-paddingleft="[55,45,45,45]" style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 700; color: rgba(255,255,255,1); font-family:Poppins;background-color:rgb(244,118,154);border-color:rgba(0,0,0,1);border-radius:50px 50px 50px 50px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            DISCOVER NOW
                        </div>
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-37-layer-4" data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="normal" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="~/lib/DavenTheme/img/revolution-slider/m1-s1-2.png" alt="" data-ww="['1284px','926px','1162px','1162px']" data-hh="['1082px','780px','980px','980px']" data-no-retina> </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption   tp-resizeme" id="slide-37-layer-5" data-x="['right','right','center','center']" data-hoffset="['102','102','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['30','30','170','-122']" data-width="none" data-height="none" data-whitespace="normal" data-visibility="['on','on','on','off']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":850,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;">
                        <div class="rs-looped rs-wave" data-speed="20" data-angle="0" data-radius="20px" data-origin="50% 50%"><img src="~/lib/DavenTheme/img/revolution-slider/m1-s1-11.png" alt="" data-ww="['950px','526px','466px','339px']" data-hh="['703px','389px','345px','251px']" data-no-retina> </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-38" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/lib/DavenTheme/img/revolution-slider/transparent.png" data-bgcolor='#fff8fa' style='background:#fff8fa' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 6 -->
                    <div class="tp-caption     rev_group" id="slide-38-layer-2" data-x="['left','left','center','center']" data-hoffset="['100','20','0','-4']" data-y="['middle','middle','top','middle']" data-voffset="['0','0','182','0']" data-width="['745','493','462','405']" data-height="['346','229','233','203']" data-whitespace="normal" data-type="group" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 745px; max-width: 745px; max-width: 346px; max-width: 346px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption   tp-resizeme" id="slide-38-layer-1" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-fontsize="['74','50','50','40']" data-lineheight="['100','65','60','50']" data-letterspacing="['2','2','0','0']" data-width="['684','488','458','375']" data-height="['215','none','none','111']" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":"+650","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 684px; max-width: 684px; max-width: 215px; max-width: 215px; white-space: normal; font-size: 74px; line-height: 100px; font-weight: 700; color: #2f2f2f; letter-spacing: 2px;font-family:Poppins;">
                            Mobile Apps Development
                        </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption rev-btn " id="slide-38-layer-3" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" data-fontsize="['14','12','14','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+1070","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(21,21,21);bs:solid;bw:0 0 0 0;"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[30,20,25,25]" data-paddingright="[55,45,45,45]" data-paddingbottom="[30,20,25,25]" data-paddingleft="[55,45,45,45]" style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 700; color: rgba(255,255,255,1); font-family:Poppins;background-color:rgb(244,118,154);border-color:rgba(0,0,0,1);border-radius:50px 50px 50px 50px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            DISCOVER NOW
                        </div>
                    </div>

                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-38-layer-4" data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="normal" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="~/lib/DavenTheme/img/revolution-slider/m1-s1-2.png" alt="" data-ww="['1284px','926px','1162px','1162px']" data-hh="['1082px','780px','980px','980px']" data-no-retina> </div>

                    <!-- LAYER NR. 10 -->
                    <div class="tp-caption   tp-resizeme" id="slide-38-layer-5" data-x="['right','right','center','center']" data-hoffset="['102','102','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['30','30','170','-122']" data-width="none" data-height="none" data-whitespace="normal" data-visibility="['on','on','on','off']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":850,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;">
                        <div class="rs-looped rs-wave" data-speed="20" data-angle="0" data-radius="20px" data-origin="50% 50%"><img src="~/lib/DavenTheme/img/revolution-slider/m1-s2-1.png" alt="" data-ww="['950px','526px','466px','339px']" data-hh="['666px','369px','327','238px']" data-no-retina> </div>
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-index="rs-39" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="~/lib/DavenTheme/img/revolution-slider/transparent.png" data-bgcolor='#FFF8FA' style='background:#FFF8FA' alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 11 -->
                    <div class="tp-caption     rev_group" id="slide-39-layer-2" data-x="['left','left','center','center']" data-hoffset="['100','20','0','-4']" data-y="['middle','middle','top','middle']" data-voffset="['0','0','182','0']" data-width="['744','492','461','404']" data-height="['436','293','280','255']" data-whitespace="normal" data-type="group" data-responsive_offset="on" data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 7; min-width: 744px; max-width: 744px; max-width: 436px; max-width: 436px; white-space: normal; font-size: 20px; line-height: 22px; font-weight: 400; color: #ffffff; letter-spacing: 0px;">
                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption   tp-resizeme" id="slide-39-layer-1" data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['0','0','0','0']" data-fontsize="['74','50','50','40']" data-lineheight="['100','65','60','50']" data-letterspacing="['2','2','0','0']" data-width="['684','488','458','375']" data-height="['215','none','none','111']" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":"+650","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 8; min-width: 684px; max-width: 684px; max-width: 215px; max-width: 215px; white-space: normal; font-size: 74px; line-height: 100px; font-weight: 700; color: #2f2f2f; letter-spacing: 2px;font-family:Poppins;">
                            Committed to superior quality and results.
                        </div>

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption rev-btn " id="slide-39-layer-3" data-x="['left','left','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']" data-fontsize="['14','12','14','14']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="button" data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"#","delay":""}]' data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":"+1070","speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(21,21,21);bs:solid;bw:0 0 0 0;"}]' data-margintop="[0,0,0,0]" data-marginright="[0,0,0,0]" data-marginbottom="[0,0,0,0]" data-marginleft="[0,0,0,0]" data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[30,20,25,25]" data-paddingright="[55,45,45,45]" data-paddingbottom="[30,20,25,25]" data-paddingleft="[55,45,45,45]" style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 20px; font-weight: 700; color: rgba(255,255,255,1); font-family:Poppins;background-color:rgb(244,118,154);border-color:rgba(0,0,0,1);border-radius:50px 50px 50px 50px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            DISCOVER NOW
                        </div>
                    </div>

                    <!-- LAYER NR. 14 -->
                    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" id="slide-39-layer-4" data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="normal" data-type="image" data-basealign="slide" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="~/lib/DavenTheme/img/revolution-slider/m1-s1-2.png" alt="" data-ww="['1284px','926px','1162px','1162px']" data-hh="['1082px','780px','980px','980px']" data-no-retina> </div>

                    <!-- LAYER NR. 15 -->
                    <div class="tp-caption   tp-resizeme" id="slide-39-layer-5" data-x="['right','right','center','center']" data-hoffset="['200','50','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['30','30','170','-122']" data-width="none" data-height="none" data-whitespace="normal" data-visibility="['on','on','on','off']" data-type="image" data-responsive_offset="on" data-frames='[{"delay":850,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 6;">
                        <div class="rs-looped rs-wave" data-speed="20" data-angle="0" data-radius="20px" data-origin="50% 50%"><img src="~/lib/DavenTheme/img/revolution-slider/m1-s3-1.png" alt="" data-ww="['750px','500px','450px','340px']" data-hh="['781px','520px','468px','354px']" data-no-retina> </div>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
</div>
<!-- End Slider Area -->
<!-- Start Page Wrapper -->
<main class="page-content">

    <!-- Start About Area -->
    <div class="dr-about-area creative-about pt--100 pb--120 ptb_md--80 ptb_sm--60 bg-color" data-bg-color="#ffffff">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 offset-xl-2">
                    <div class="inner text-center">
                        <h2 class="move-up wow">Great Experience with Draven Theme</h2>
                        <p class="font--18 lineheight--2 move-up wow">
                            Fusce a augue lorem. Morbi ut orci nec odio placerat viverra.
                            Mauris rhoncus purus vel orci posuere fermentum. Etiam sit amet interdum nuncante
                        </p>
                        <div class="about-button mt--40 move-up wow">
                            <a class="button-link button-size__radious50 button-size__lg button__theme-color" href="about-me.html">
                                <span class="button-text button-text__15">LEARN MORE</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area -->
    <!-- Start Our Vision Area -->
    <div class="dr-vision-area bg-color pb--100 pb_md--80 pb_sm--60" data-bg-color="#ffffff">
        <div class="row plr--150 plr_lp--50 plr_lg--30 plr_md--30 plr_sm--15 align-items-center">
            <div class="col-xl-6 col-lg-12 col-md-12 col-12">
                <div class="thumbnail video-with-thumb">
                    <img class="w-100" src="~/lib/DavenTheme/img/about/about-8.jpg" alt="Draven">
                    <!-- Start Single Popup -->
                    <div class="video-btn position--center">
                        <a class="play__btn" href="https://www.youtube.com/watch?v=9No-FiEInLA">
                            <img src="~/lib/DavenTheme/img/logo/play_btn.png" alt="Draven">
                        </a>
                    </div>
                    <!-- End Single Popup -->
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 col-12 pl--60 pl_lg--15 pl_md--15 pl_sm--15 mt_lg--40 mt_md--40 mt_sm--40">
                <div class="vision-content move-up wow">
                    <h6 class="font--14 theme-color letterspacing--2 mb--10 fontWeight700">OUR VISION</h6>
                    <h2>Intelligent Design, <br> Optimal Speed</h2>
                    <p class="pra">
                        Mauris a ante quis enim rhoncus mattis quis et nunc. Maecenas auctor tellus sit amet.
                        Fusce a augue lorem. Morbi ut orci nec odio placerat viverraFusce a augue lorem. Morbi ut orci
                        nec odio placerat viverra
                    </p>

                    <div class="progress-wrapper mt--60">

                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts">
                            <h6 class="font--12 fontWeight700">WEB DEVELOPMENT</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">89%</span></div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->
                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts mt--25">
                            <h6 class="font--12 fontWeight700">DESIGN FOR SEO</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">70%</span></div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->
                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts mt--25">
                            <h6 class="font--12 fontWeight700">DEDICATED SUPPORT</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">92%</span></div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->
                        <!-- Start Single Progress Charts -->
                        <div class="progress-charts mt--25">
                            <h6 class="font--12 fontWeight700">POWERFUL ADMIN INTERFACE</h6>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 82%" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"><span class="percent-label">82%</span></div>
                            </div>
                        </div>
                        <!-- End Single Progress Charts -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Vision Area -->
    <!-- Start Service Area -->
    <div class="dr-service-area bg-color pb--100 pb_md--80 pb_sm--60" data-bg-color="#ffffff">
        <div class="service-wrapper plr--70 plr_sm--20 plr_md--20">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sectiont-title text-center move-up wow">
                        <h2>Great Service, <br> Professional Support</h2>
                    </div>
                </div>
            </div>
            <div class="row row--35">

                <!-- Start Single Count -->
                <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--40">
                    <div class="single-icon-box icon__style--4 text-white bg_image bg_image--17 text-center move-up wow">
                        <div class="icon btn-transparent">
                            <i class="dlicon design_wand-11"></i>
                        </div>
                        <div class="content">
                            <h3 class="title fontWeight600 font--32">Design Services</h3>
                            <p class="pra">
                                Etiam ligula justo, suscipit egestas bibendum ut, euismod fermentum urna.
                                Fusce eget lectus at augue facilisis convallis.
                            </p>
                            <a class="service__btn" href="service-classic.html">READ MORE</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Count -->
                <!-- Start Single Count -->
                <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--40">
                    <div class="single-icon-box icon__style--4 text-white bg_image bg_image--17 text-center move-up wow">
                        <div class="icon btn-transparent">
                            <i class="dlicon ui-1_analytics-88"></i>
                        </div>
                        <div class="content">
                            <h3 class="title fontWeight600 font--32">Online Marketing</h3>
                            <p class="pra">
                                Etiam ligula justo, suscipit egestas bibendum ut, euismod fermentum urna.
                                Fusce eget lectus at augue facilisis convallis.
                            </p>
                            <a class="service__btn" href="service-classic.html">READ MORE</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Count -->
                <!-- Start Single Count -->
                <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--40">
                    <div class="single-icon-box icon__style--4 text-white bg_image bg_image--17 text-center move-up wow">
                        <div class="icon btn-transparent">
                            <i class="dlicon design_responsive"></i>
                        </div>
                        <div class="content">
                            <h3 class="title fontWeight600 font--32">Web Development</h3>
                            <p class="pra">
                                Etiam ligula justo, suscipit egestas bibendum ut, euismod fermentum urna.
                                Fusce eget lectus at augue facilisis convallis.
                            </p>
                            <a class="service__btn" href="service-classic.html">READ MORE</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Count -->

            </div>
        </div>
    </div>
    <!-- End Service Area -->
    <!-- Start Portfolio Area -->
    <div class="portfolio-area bk-masonary-wrapper bg-color" data-bg-color="#ffffff">
        <div class="row row--0">
            <div class="col-lg-12">
                <div class="sectiont-title text-center move-up wow mb--35">
                    <h2>Awesome Works</h2>
                </div>
                <div class="messonry-button text-center mb--35">
                    <button data-filter="*" class="is-checked"><span class="filter-text">All</span></button>
                    <button data-filter=".cat--1"><span class="filter-text">Digital Art</span></button>
                    <button data-filter=".cat--2"><span class="filter-text">Graphic Design</span></button>
                    <button data-filter=".cat--3"><span class="filter-text">Illustrations</span></button>
                    <button data-filter=".cat--4"><span class="filter-text">Photography</span></button>
                </div>
                <div class="portfolio-grid-metro2 mesonry-list">
                    <div class="resizer"></div>
                    <!-- Start Single Portfolio -->
                    <div class="portfolio portfolio_style--1 portfolio-33-33 cat--1 cat--4">
                        <div class="inner">
                            <a href="portfolio-details.html" class="thumb paralax-image">
                                <img src="~/lib/DavenTheme/img/portfolio/md-img/creative-01.jpg" alt="Portfolio Images">
                            </a>
                            <div class="port-overlay-info">
                                <div class="hover-action">
                                    <h4 class="title"><a href="portfolio-details.html">The Coffee Bar</a></h4>
                                    <p>lorem dolor ipsum sit amet</p>
                                </div>
                                <a class="icon" href="portfolio-details.html"><i class="dlicon ui-1_circle-add"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio -->
                    <!-- Start Single Portfolio -->
                    <div class="portfolio portfolio_style--1 portfolio-33-33 cat--1 cat--2 cat--4">
                        <div class="inner">
                            <a href="portfolio-details.html" class="thumb paralax-image">
                                <img src="~/lib/DavenTheme/img/portfolio/md-img/creative-02.jpg" alt="Portfolio Images">
                            </a>
                            <div class="port-overlay-info">
                                <div class="hover-action">
                                    <h4 class="title"><a href="portfolio-details.html">The Coffee Bar</a></h4>
                                    <p>lorem dolor ipsum sit amet</p>
                                </div>
                                <a class="icon" href="portfolio-details.html"><i class="dlicon ui-1_circle-add"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio -->
                    <!-- Start Single Portfolio -->
                    <div class="portfolio portfolio_style--1 portfolio-33-33 cat--3 cat--4">
                        <div class="inner">
                            <a href="portfolio-details.html" class="thumb paralax-image">
                                <img src="~/lib/DavenTheme/img/portfolio/md-img/creative-05.jpg" alt="Portfolio Images">
                            </a>
                            <div class="port-overlay-info">
                                <div class="hover-action">
                                    <h4 class="title"><a href="portfolio-details.html">The Coffee Bar</a></h4>
                                    <p>lorem dolor ipsum sit amet</p>
                                </div>
                                <a class="icon" href="portfolio-details.html"><i class="dlicon ui-1_circle-add"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio -->
                    <!-- Start Single Portfolio -->
                    <div class="portfolio portfolio_style--1 portfolio-33-33 cat--3 cat--4">
                        <div class="inner">
                            <a href="portfolio-details.html" class="thumb paralax-image">
                                <img src="~/lib/DavenTheme/img/portfolio/md-img/creative-03.jpg" alt="Portfolio Images">
                            </a>
                            <div class="port-overlay-info">
                                <div class="hover-action">
                                    <h4 class="title"><a href="portfolio-details.html">The Coffee Bar</a></h4>
                                    <p>lorem dolor ipsum sit amet</p>
                                </div>
                                <a class="icon" href="portfolio-details.html"><i class="dlicon ui-1_circle-add"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio -->
                    <!-- Start Single Portfolio -->
                    <div class="portfolio portfolio_style--1 portfolio-33-33 cat--1 cat--2 cat--4">
                        <div class="inner">
                            <a href="portfolio-details.html" class="thumb paralax-image">
                                <img src="~/lib/DavenTheme/img/portfolio/md-img/creative-04.jpg" alt="Portfolio Images">
                            </a>
                            <div class="port-overlay-info">
                                <div class="hover-action">
                                    <h4 class="title"><a href="portfolio-details.html">The Coffee Bar</a></h4>
                                    <p>lorem dolor ipsum sit amet</p>
                                </div>
                                <a class="icon" href="portfolio-details.html"><i class="dlicon ui-1_circle-add"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Portfolio -->

                </div>
            </div>
        </div>
        <div class="portfolio-view-button move-up wow">
            <a href="portfolio-fullwidth.html">VIEW ALL PROJECTS</a>
        </div>
    </div>
    <!-- End Portfolio Area -->
    <!-- Start Team Area -->
    <div class="tema-area pt--100 pb--120 ptb_md--80 ptb_sm--60 bg-color" data-bg-color="#ffffff">
        <div class="team-wrapper plr--80 plr_sm--20 plr_md--20">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center move-up wow">
                        <h2>Meet Our Team</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--30">
                <!-- Start Single Team -->
                <div class="col-lg-6 col-xl-3 col-md-6 col-12 mt--30 move-up wow">
                    <div class="team team__style--2 text-left">
                        <div class="thumbnail">
                            <img class="w-100" src="~/lib/DavenTheme/img/team/team-member-1.jpg" alt="Draven Images">
                        </div>
                        <div class="hover-action pt--20">
                            <div class="info mb--15">
                                <h3 class="title mb--0"><a href="team-details.html">Florence Moreno</a></h3>
                                <span class="desc font--14 theme-color">CEO/ Founder</span>
                            </div>
                            <div class="social-icons social-transparent text-left">
                                <a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a class="pinterest" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                <a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                                <a class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-6 col-xl-3 col-md-6 col-12 mt--30 move-up wow">
                    <div class="team team__style--2 text-left">
                        <div class="thumbnail">
                            <img class="w-100" src="~/lib/DavenTheme/img/team/team-member-4.jpg" alt="Draven Images">
                        </div>
                        <div class="hover-action pt--20">
                            <div class="info mb--15">
                                <h3 class="title mb--0"><a href="team-details.html">Florence Moreno</a></h3>
                                <span class="desc font--14 theme-color">CEO/ Founder</span>
                            </div>
                            <div class="social-icons social-transparent text-left">
                                <a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a class="pinterest" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                <a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                                <a class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-6 col-xl-3 col-md-6 col-12 mt--30 move-up wow">
                    <div class="team team__style--2 text-left">
                        <div class="thumbnail">
                            <img class="w-100" src="~/lib/DavenTheme/img/team/team-member-5.jpg" alt="Draven Images">
                        </div>
                        <div class="hover-action pt--20">
                            <div class="info mb--15">
                                <h3 class="title mb--0"><a href="team-details.html">Florence Moreno</a></h3>
                                <span class="desc font--14 theme-color">CEO/ Founder</span>
                            </div>
                            <div class="social-icons social-transparent text-left">
                                <a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a class="pinterest" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                <a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                                <a class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
                <!-- Start Single Team -->
                <div class="col-lg-6 col-xl-3 col-md-6 col-12 mt--30 move-up wow">
                    <div class="team team__style--2 text-left">
                        <div class="thumbnail">
                            <img class="w-100" src="~/lib/DavenTheme/img/team/team-member-6.jpg" alt="Draven Images">
                        </div>
                        <div class="hover-action pt--20">
                            <div class="info mb--15">
                                <h3 class="title mb--0"><a href="team-details.html">Florence Moreno</a></h3>
                                <span class="desc font--14 theme-color">CEO/ Founder</span>
                            </div>
                            <div class="social-icons social-transparent text-left">
                                <a class="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a class="pinterest" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                <a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
                                <a class="linkedin" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team -->
            </div>
        </div>
    </div>
    <!-- End Team Area -->
    <!-- Start Testimonial Area -->
    <div class="testimonial-area pt--120 pb--100 ptb_md--80 ptb_sm--60 bg_image--4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb--60">
                    <div class="quote-top text-center mb--25">
                        <img src="~/lib/DavenTheme/img/icons/quote2.png" alt="Draven">
                    </div>
                    <div class="draven-element-carousel slick-gutter-15 text-center move-up wow" data-slick-options='{
                            "spaceBetween": 15,
                            "slidesToShow": 1,
                            "slidesToScroll": 1,
                            "arrows": false,
                            "dots": true,
                            "infinite": true
                        }'>
                        <!-- Start Single Testimonial -->
                        <div class="testimonial testimonial__style--5">
                            <p class="text-white">Customer Support has been awesome! I'm somewhat of a beginner when it comes to Word Press, and they've helped me set up and answer questions. Very responsive, and I'm very grateful for their Customer Support Team! 5 Stars all the way!</p>
                            <div class="info">
                                <h3 class="fontWeight700 mb--5 text-white">Olivia Arribas</h3>
                                <span class="fontWeight400 font--14 text-white">Founder & CEO</span>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                        <!-- Start Single Testimonial -->
                        <div class="testimonial testimonial__style--5">
                            <p class="text-white">Customer Support has been awesome! I'm somewhat of a beginner when it comes to Word Press, and they've helped me set up and answer questions. Very responsive, and I'm very grateful for their Customer Support Team! 5 Stars all the way!</p>
                            <div class="info">
                                <h3 class="fontWeight700 mb--5 text-white">Ryan King</h3>
                                <span class="fontWeight400 font--14 text-white">Founder & CEO</span>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonial Area -->
    <!-- Start Blog Grid Layout -->
    <div class="blog-grid-layout-area pt--100 pb--80 ptb_md--80 ptb_sm--60 bg-color" data-bg-color="#ffffff">
        <div class="row row--0">
            <!-- Start Single BLog -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12 move-up wow">
                <div class="blog blog_style--1 border-none bg-transparent mt--30">
                    <div class="thumbnail">
                        <a href="blog-details.html">
                            <img class="w-100" src="~/lib/DavenTheme/img/blog/md-img/blog-5.jpg" alt="Blog Images">
                        </a>
                    </div>
                    <div class="inner">
                        <h3 class="mb--10 font--32 fontWeight600">
                            <a href="blog-details.html">
                                Untangling wicked digital
                                problems
                            </a>
                        </h3>
                        <ul class="meta">
                            <li>Posted on 25 Jan, 2019</li>
                            <li>By <a href="#">John Snow</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single BLog -->
            <!-- Start Single BLog -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12 move-up wow">
                <div class="blog blog_style--1 border-none bg-transparent mt--30">
                    <div class="thumbnail">
                        <a href="blog-details.html">
                            <img class="w-100" src="~/lib/DavenTheme/img/blog/md-img/blog-6.jpg" alt="Blog Images">
                        </a>
                    </div>
                    <div class="inner">
                        <h3 class="mb--10 font--32 fontWeight600"><a href="blog-details.html">Learn form Jake Knapp: The keys to a great presentation</a></h3>
                        <ul class="meta">
                            <li>Posted on 25 Jan, 2019</li>
                            <li>By <a href="#">John Snow</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single BLog -->
            <!-- Start Single BLog -->
            <div class="col-lg-6 col-xl-4 col-md-6 col-12 move-up wow">
                <div class="blog blog_style--1 border-none bg-transparent mt--30">
                    <div class="thumbnail">
                        <a href="blog-details.html">
                            <img class="w-100" src="~/lib/DavenTheme/img/blog/md-img/blog-7.jpg" alt="Blog Images">
                        </a>
                    </div>
                    <div class="inner">
                        <h3 class="mb--10 font--32 fontWeight600"><a href="blog-details.html">The Complete Video Production Bootcamp</a></h3>
                        <ul class="meta">
                            <li>Posted on 25 Jan, 2019</li>
                            <li>By <a href="#">John Snow</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single BLog -->
        </div>
    </div>
    <!-- End Blog Grid Layout -->
    <!-- Start Brand Area -->
    <div class="brand-area bg-color" data-bg-color="#f9f9f9">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-list ptb--50 d-flex justify-content-between">
                        <div class="brand move-up wow">
                            <a href="#">
                                <img src="~/lib/DavenTheme/img/brand/brand-logo-1.png" alt="Brand">
                            </a>
                        </div>
                        <div class="brand move-up wow">
                            <a href="#">
                                <img src="~/lib/DavenTheme/img/brand/brand-logo-2.png" alt="Brand">
                            </a>
                        </div>
                        <div class="brand move-up wow">
                            <a href="#">
                                <img src="~/lib/DavenTheme/img/brand/brand-logo-3.png" alt="Brand">
                            </a>
                        </div>
                        <div class="brand move-up wow">
                            <a href="#">
                                <img src="~/lib/DavenTheme/img/brand/brand-logo-4.png" alt="Brand">
                            </a>
                        </div>
                        <div class="brand move-up wow">
                            <a href="#">
                                <img src="~/lib/DavenTheme/img/brand/brand-logo-5.png" alt="Brand">
                            </a>
                        </div>
                        <div class="brand move-up wow">
                            <a href="#">
                                <img src="~/lib/DavenTheme/img/brand/brand-logo-6.png" alt="Brand">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Area -->

</main>
<!-- End Page Wrapper -->