@model List<Cameo.ViewModels.TalentsCategorizedVM>
@using Cameo.Models.Enums

<div class="row">
    @if (ViewBag.categoryName != null)
    {

        <h1 class="text-center" style="width: 100%">@ViewBag.categoryName</h1>
    }
    @foreach (var item in Model)
    {
        <h2 class="plr--80 plr_lg--50 plr_md--50 plr_sm--30" style="width: 100%">
            <span>@item.Category.Name</span>
            @if (item.Category.ID == (int)CategoryEnum.all)
            {
                <small class="pull-right">@Html.DropDownList("sorting", ViewData["sortingItems"] as List<SelectListItem>, new { onchange = "LoadAllSortedTalentsByCategory(this.value);" })</small>
            }
        </h2>
        <div class="tema-area pb--50 pt_md--0 pb_md--60 pb_sm--40 bg-color" style="width: 100%">
            @{ 
                string containerClass = "";
                if (item.Category.ID == (int)CategoryEnum.all)
                {
                    containerClass = "all";
                }
            }
            <div class="talentsCategorizedContainer @containerClass row plr--80 plr_lg--50 plr_md--50 plr_sm--30">
                @if (item.Category.ID == (int)CategoryEnum.all)
                {
                    <i id="spinner" class="spinner fa fa-circle-o-notch fa-spin fa-2x fa-fw mt--30 mb--30" style="margin-left: 49%; display: none;"></i>
                }
                <partial name="_Get" model="item.Talents" />
                @*@foreach (var talent in item.Talents)
                {
                    <!-- Start Single Team -->
                    <partial name="_SingleGridViewItem" model="talent" />
                }*@
            </div>
        </div>
    }
</div>