@*<div class="frmSearch">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text "><i class="fa fa-search"></i></span>
        </div>
        <input type="text" id="search-box" class="form-control" onkeyup="Search(this.value)" placeholder="Попробуйте 'Abduvali' или 'Абдували'" />
        <div class="input-group-append">
            <span class="input-group-text" onclick="ClearSearchInput();"><i class="fa fa-times" style="visibility:hidden;"></i></span>
        </div>
    </div>
    <div id="suggesstion-box"></div>
</div>*@

<div class="frmSearch">
    <div class="" style="position: relative;">
        <span class="left-icon"><i class="fa fa-search"></i></span>
        <input type="text" id="search-box" class="" onkeyup="Search(this.value)" placeholder="@localizer["SearchInputPlaceholder"]" />
        <span class="spinnerContainer"><i class="spinner fa fa-circle-o-notch fa-spin fa-fw" style="visibility:hidden;"></i></span>
        <span class="right-icon" onclick="ClearSearchInput();"><i class="fa fa-times" style="visibility:hidden;"></i></span>
    </div>
    <div id="suggesstion-box"></div>
</div>

<script>
    var currentRequest = null;

    function Search(searchText)
    {
        if (searchText != "")
            $(".frmSearch .right-icon i").css("visibility", "visible");
        else
            $(".frmSearch .right-icon i").css("visibility", "hidden");

        $("#suggesstion-box").html("");

        currentRequest = $.ajax({
            type: "GET",
            url: "/Talents/GetBySearchText",
            //data: JSON.stringify({
            //    selected: categoryID
            //}),
            data: {
                searchText: searchText
            },
            contentType: "application/json; charset=utf-8",
            //dataType: "json",
            beforeSend: function () {
                //$("#search-box").css("background", "#FFF url(/lib/DavenTheme/img/ajax-loader.gif) no-repeat right");
                //$("#search-box").css("background-size", "contain");
                $(".frmSearch .spinnerContainer i").css("visibility", "visible");

                if (currentRequest != null)
                    currentRequest.abort();
            },
            success: function (data) {
                $("#suggesstion-box").show();
                $("#suggesstion-box").html(data);
                //$("#search-box").css("background", "#FFF");
                $(".frmSearch .spinnerContainer i").css("visibility", "hidden");
            },
            error: function (data) {
                //console.log(data);
            },
            complete: function (data) {
                //$(".frmSearch .spinnerContainer i").css("visibility", "hidden");
            }
        });
    }

    function ClearSearchInput()
    {
        if (currentRequest != null)
            currentRequest.abort();

        $("#search-box").val("").focus();
        $("#suggesstion-box").html("");
        $(".frmSearch .right-icon i").css("visibility", "hidden");
    }

    function SelectTalent(id) {
        
    }
</script>

<style>
    /*.frmSearch .input-group-text {
        background-color: inherit;
    }

    .frmSearch #search-box {
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }

    .frmSearch #search-box:focus, .frmSearch #search-box:active {
        outline: none !important;
        box-shadow: none;
        border-color: none;
    }

    .frmSearch .input-group-append
    {
        cursor: pointer;
    }*/

    .frmSearch input {
        width: 100%;
        /*background-color: transparent;*/
        /*border: 0;*/
        /*border-bottom: 2px solid #fff;*/
        font-size: 18px;
        padding: 10px 45px;
        transition: all .3s ease-out;
        font-weight: 300;
        max-width: 100%;
        background: rgb(255, 255, 255);
        -webkit-appearance: none;
        /*border-radius: 0;*/
        margin-bottom: 0;
        height: auto;
    }

    .frmSearch .left-icon {
        font-size: 23px;
        height: 20px;
        display: block;
        left: 12px;
        border: none;
        background: 0 0;
        padding: 0;
        position: absolute;
        top: 27%;
        transform: translateY(-50%);
        cursor: pointer;
        font-weight: 100;
    }

    .frmSearch .right-icon {
        font-size: 23px;
        height: 18px;
        display: block;
        right: 5px;
        border: none;
        background: 0 0;
        padding: 0;
        position: absolute;
        top: 27%;
        transform: translateY(-50%);
        cursor: pointer;
        font-weight: 100;
    }

    .frmSearch .spinnerContainer {
        font-size: 23px;
        height: 18px;
        display: block;
        right: 23px;
        border: none;
        background: 0 0;
        padding: 0;
        position: absolute;
        top: 27%;
        transform: translateY(-50%);
        font-weight: 100;
    }

    #talentsSearchList {
        float: left;
        list-style: none;
        padding: 0;
        width: 194px;
        position: absolute;
        z-index: 20;
        max-height: 300px;
        overflow-y: auto;
        border-radius: 0.25rem;
    }

    #talentsSearchList li {
        padding: 10px;
        background: #f0f0f0;
        border-bottom: #bbb9b9 1px solid;
    }
    #talentsSearchList li:hover {
        background: #ece3d2;
        cursor: pointer;
    }

    #talentsSearchList > li > a {
        display: block;
        /*padding: 3px 20px;*/
        clear: both;
        font-weight: 400;
        line-height: 1.5;
        color: #4d4d4d;
        white-space: nowrap;
    }

    #talentsSearchList > li > a > div > .searchImage {
        height: 64px;
        width: 64px;
        min-width: 64px;
        border-radius: 8px;
        margin-right: 16px;
        background: linear-gradient(-35deg,#ffc796,#ff6b95);
        overflow: hidden;
        justify-content: center;
        align-items: flex-end;
        display: flex;
    }

    #talentsSearchList > li > a > div > .talentInfo {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        overflow: hidden;
    }

    #talentsSearchList > li > a > div > .talentInfo > .fullName {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    #talentsSearchList > li > a > div > .talentInfo > .fullName > .name {
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }
</style>