@model IEnumerable<Cameo.ViewModels.VideoDetailsVM>

<h2>Последние видео</h2>
<hr />

@foreach (var item in Model)
{
    
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>От @item.From для @item.To</span>
                <span><small><a href="/Video/Details/@item.RequestID">Details</a></small></span>
            </div>
            <div class="panel-body">
                <video width="240" height="320" controls><source src="/Video/GetVideo/@item.RequestID" type="video/mp4"></video>
            </div>
        </div>

        <p>@item.To @item.From</p>
    </div>
}