@model Cameo.ViewModels.FilterVM

@using Cameo.Common
@using Microsoft.Extensions.Options;

@inject IOptions<AppConfiguration> AppSettings

@{
    //ViewData["Title"] = "Поиск";
    Layout = "_LayoutDaven";
}

<!-- Start Beadcaump Area -->
<div class="dn-breadcaump-area breadcrumb-default bg_image ptb--40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-content text-center">
                    @*<video id="homeHeaderVideo" autoplay>
                        <source src="https://d3el26csp1xekx.cloudfront.net/miscellaneous/videos/useCaseOverlayWebApple.m4v" type="video/mp4" />
                    </video>*@
                    <h1 class="breadcrumb-content__title text-white fontWeight400" id="homeHeaderText">@localizer["HomeHeaderText"]</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Beadcaump Area -->
<br />

<div id="talentsContainer">
    <i id="spinner" class="spinner fa fa-circle-o-notch fa-spin fa-2x fa-fw mt--30 mb--30" style="margin-left: 49%;"></i>
    @*<img class="spinner plr--80 plr_lg--50 plr_md--50 plr_sm--30" src="@AppSettings.Value.SpinnerUrl" style="height:40px;" />*@
    <div class="innerContainer"></div>
</div>

<style>
</style>
@section Scripts {
    <script>
        $(document).ready(function ()
        {
            LoadTalentsCategorized();
        });

        function LoadTalentsCategorized()
        {
            $.ajax({
                type: "GET",
                url: "/Talents/GetCategorized",
                //data: {
                //    categoryID: categoryID,
                //    sort: sort
                //},
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function ()
                {
                    $("#talentsContainer .spinner").show();
                    $("#talentsContainer .innerContainer").html("");
                },
                success: function (data)
                {
                    $("#talentsContainer .innerContainer").html(data);
                    lozadObserver.observe();
                },
                error: function (data)
                {
                    console.log(data);
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data)
                {
                    $("#talentsContainer .spinner").hide();
                }
            });
        }
    </script>
}

<style>
    .bg_image
    {
        background-image: url(/images/home-jumbotron.jpg);
    }
    /*video#homeHeaderVideo {
        max-height: 425px;
        height: 100%;
        display: inline-block;
        vertical-align: baseline;
        width: 100%;
        border-radius: 0.25rem;
    }

    #homeHeaderText {
        position: absolute;
        top: 40px;
    }*/
</style>