@using Cameo.Models.Enums

@{
    ViewData["Title"] = "Мои запросы на видео";
    ViewData["userType"] = ViewBag.userType;
}

<br />
<div class="row">
    <div class="col-sm-3">
        <partial name="_CustomerSidebar" />
    </div>
    <div class="col-sm-9">
        <h2>@ViewData["Title"]</h2>
        <hr />
        <partial name="_VideoRequestsTable" />
    </div>
</div>

<link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
@*<link href="~/lib/jquery-file-upload/jquery-file-upload.min.css" rel="stylesheet" />*@

@section Scripts {
    <script src="~/lib/DataTables/datatables.js"></script>
    @*<script src="~/lib/jquery-file-upload/jquery-file-upload.min.js"></script>*@
    <script src="~/js/FileAjaxUpload.js"></script>

    <script>
        $(document).ready(function () {
            //this function is in "~/js/VideoRequestDatatable.js" included in _VideoRequestsTable.cshtml
            initVideoRequestsDatatable();
        });
    </script>
}