
@{
    ViewData["Title"] = "ThanksForRegistering";
}

<h2>ThanksForRegistering</h2>

<p>
    Спасибо за регистрацию! 
    Мы отправили на Вашу почту письмо со ссылкой для подтверждения.
    Очень скоро модераторы одобрят или отколнят Вашу регистрацию как Таланта.
</p>