<div class="growth-content">
    <div class="section_title--2 text-left">
        <h1 class="title line--width80 pb--20 mb--25 wow move-up">Что потом?</h1>
        @*<p class="pra wow move-up">
            Nullam varius porttitor augue id rutrum. Duis vehicula magna at magna tempus
            rhoncus. Maecenas quis lobortis elit, nec faucibus augue
        </p>*@
    </div>
    <div class="row mt--25">
        <!-- Start Single -->
        <div class="col-12">
            <div class="single-icon-box d-flex align-items-center text-left wow move-up">
                <div class="icon mr--25">
                    @*<i class="theme-color font--60 dlicon ui-1_dashboard-half"></i>*@
                    <i class="theme-color font--60 fa fa-credit-card"></i>
                </div>
                <div class="content">
                    <p class="pra">
                        После оформлении заказа с Вашего баланса будет снят авансовый платеж<br />
                        Остальная часть должна будет оплачена после того, как видео будет готово
                    </p>
                </div>
            </div>
        </div>
        <!-- End Single -->
        <!-- Start Single -->
        <div class="col-12 mt--25">
            <div class="single-icon-box d-flex align-items-center text-left wow move-up">
                <div class="icon mr--25">
                    @*<i class="theme-color font--60 dlicon design_patch-19"></i>*@
                    <i class="theme-color font--60 fa fa-shield"></i>
                </div>
                <div class="content">
                    <p class="pra">В случае не выполнения заказа или отмены, аванс будет возвращен на Ваш баланс</p>
                </div>
            </div>
        </div>
        <!-- End Single -->
        <!-- Start Single -->
        <div class="col-12 mt--25">
            <div class="single-icon-box d-flex align-items-center text-left wow move-up">
                <div class="icon mr--25">
                    @*<i class="theme-color font--60 dlicon ui-3_security"></i>*@
                    <i class="theme-color font--60 fa fa-bell-o"></i>
                </div>
                <div class="content">
                    <p class="pra">Как только видео будет готово, мы отправим уведомление на телефон (НЕ смс)</p>
                </div>
            </div>
        </div>
        <!-- End Single -->
        <!-- Start Single -->
        <div class="col-12 mt--25">
            <div class="single-icon-box d-flex align-items-center text-left wow move-up">
                <div class="icon mr--25">
                    @*<i class="theme-color font--60 dlicon tech-2_headset"></i>*@
                    <i class="theme-color font--60 fa fa-file-video-o"></i>
                </div>
                <div class="content">
                    <p class="pra">Смотрите, делитесь, скачивайте!</p>
                </div>
            </div>
        </div>
        <!-- End Single -->
    </div>
</div>

<style>
    .growth-content i {
        width: 60px;
    }
</style>