@model Cameo.ViewModels.TalentCreditCardEditVM
@using Cameo.Utils
@using Cameo.Common

@using Microsoft.Extensions.Options;

@inject IOptions<AppConfiguration> AppSettings

@{
    ViewData["Title"] = "Управление картой";
}
<br />
<div class="row">
    <div class="col-sm-3">
        <partial name="_TalentSidebar" />
    </div>
    <div class="col-md-4">
        <h2>@ViewData["Title"]</h2>
        <hr />

        @if (ViewData["successfullySaved"] != null)
        {
            <div class="alert alert-success">
                Данные успешно сохранены
            </div>
        }

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <div class="form-group">
                <label asp-for="CreditCardNumber"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreditCardExpire"></label>
                <input asp-for="CreditCardExpire" class="form-control" />
                <span asp-validation-for="CreditCardExpire" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Сохранить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}