@model Cameo.ViewModels.VideoRequestEditVM
@using Cameo.Models.Enums
@using Cameo.Common

@{
    ViewData["Title"] = localizer["OrderVideo"];
    Layout = "~/Views/Shared/_LayoutDaven.cshtml";
    //var talent = ViewData["talent"] as Cameo.ViewModels.TalentDetailsVM;
    //int customerBalance = (int)ViewData["customerBalance"];
}

<div class="mt--30 mb--30">
    <div class="plr--80 plr_lg--50 plr_md--50 plr_sm--40" style="width: 100%;">
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="blog blog_style--1">
                    <div class="inner">
                        <form asp-action="Edit" asp-controller="VideoRequest"
                                data-ajax="true"
                                data-ajax-method="POST"
                                data-ajax-mode="replace"
                                data-ajax-update="#ajaxresult">
                            <div id="ajaxresult">
                                @await Html.PartialAsync(
                                    "/Views/VideoRequest/_Edit.cshtml")
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <partial name="_OrderStepsClarification" />
            </div>
        </div>
    </div>
</div>

<style>
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #d3d3d3;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #d3d3d3;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #d3d3d3;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}